// SET DEFAULT BUTTON STYLES
.btn-default() {
  .trans-linear();
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: inherit;
  font-family: inherit;

  &:hover,
  &:focus {
    .trans-linear();
  }

  &:disabled,
  &.disabled {
    .disabled();
  }
}

.btn {
  .btn-default();
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: @color-white;
  border: 1px solid @color-blue;
  box-sizing: border-box;
  color: @color-blue;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding: 12px 15px;
  border-radius: 3px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.btn-dashed {
  .btn-default();
  display: inline-block;
  font-size: 14px;
  line-height: 1.4;
  color: @color-blue;
  border-bottom: 1px dashed @color-blue;
  text-align: left;
}

.btn-bg {
  background: @color-blue;
  color: @color-white;
}

.btn-icon {
  .btn-default();
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;

  svg {
    .trans-linear();
    fill: @color-light-black;
  }

  svg + * {
    margin-left: 8px;
  }

  * + svg {
    margin-left: 8px;
  }
}

.btn-icon--orange {
  &:hover,
  &:focus {
    color: @color-orange;

    svg {
      fill: @color-orange;
    }
  }
}

.btn-icon--blue {
  &:hover,
  &:focus {
    color: @color-blue;

    svg {
      fill: @color-blue;
    }
  }
}
