.card {
  display: flex;
  flex-direction: column;
  border: 1px solid @color-light-gray1;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
  margin: 0 auto;

}

.owl-item {
  .card {

    @media (max-width: @md) {
      max-width: 320px;
    }

    @media (max-width: @sm) {
      max-width: 270px;
    }
  }
}

.card__img-wrap {
  position: relative;
  display: block;
  margin-bottom: 12px;

  .card__img {
    margin-bottom: 0;
  }
}

.card__img {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;

  img {
    object-fit: contain;
    max-height: 290px;
    max-width: 100%;
  }
}


.fixed-height {
  @media (min-width: @xl + 1) {
    .card__img {
      height: 290px;
    }
  }

}

.card__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;

  a {
    .link-black-blue();
  }
}

.card__btn {
  min-width: 140px;
  margin-right: 10px;
}

.card__btn+.card__btn {
  margin-top: 10px;
}

.card__btn+.card__btns-group {
  margin: 10px 0;
}

.card__top {
  margin-bottom: 30px;

  @media (max-width: @md) {
    margin-bottom: 20px;
  }

}

.card__country+.card__center {
  margin-top: 0;
}

.card__center {
  padding-top: 12px;
  border-top: 1px solid @color-light-gray1;
  margin-top: auto;
}

.card__fb {
  border-top: 1px solid @color-light-gray1;
  padding-top: 12px;
  margin-bottom: 16px;

  display: flex;
}

.card__country {
  margin-top: auto;
  margin: 10px 0;
  display: flex;
  align-items: center;

  img {
    margin-right: 8px;
  }
}

.card__range {
  margin-right: 16px;
}

.card__bottom {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.card-line {
  padding: 4px;
  border: 1px solid rgba(182, 182, 182, 0.4);
  border-radius: 3px;
}

.card-line__desc {
  padding-left: 15px;
}

.card-line__title {
  display: block;
  margin-bottom: 10px;
}

.card-line__step {
  .step__input {
    width: 45px;
    font-size: 14px;
  }

  .step__btn {
    padding: 8px 10px;
  }
}

.card-line__price {
  margin-top: 10px;
  margin-bottom: 0;
}

.card-line__btn-close {
  margin-left: auto;
  padding: 5px;
}



.color-var {
  a {
    .link-var();
  }

  .card__title {
    a {
      .link-black-var();
    }
  }
}

.card__tags {
  position: absolute;
}

.card__meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card__copy {
  font-size: 12px;
  line-height: 1;
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 10px;
  color: @color-light-black;
  display: flex;
  align-items: center;
}

.card__copy-btn {
  .btn-default();
  margin-left: 4px;

  svg {
    .trans-linear();
    fill: @color-light-black;
  }

  &:hover,
  &:focus,
  &.active {
    svg {
      fill: @color-blue;
    }
  }
}

.card__desc {
  line-height: 1.3;
  color: @color-gray;
  margin-top: 3px;

  span:not(:last-of-type) {
    &::after {
      content: '•';
      display: inline-block;
      margin: 0 2px;
      margin-left: 4px;
    }
  }
}

.card__main {
  // margin-bottom: 10px;

  .card__title {
    font-weight: 500;
  }
}

.card__price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


// HORIZONTAL CARD

.card__body-hor {
  display: none;
}

@media (min-width: @md + 1) {
  .card-hor-wrap {
    width: 100%;
    max-width: none;
    flex: 0 0 100%;
  }

  .card-hor {
    .card__body-vert {
      display: none;
    }

    .card__body-hor {
      display: flex;
    }
  }

  .card-hor {
    display: flex;
    flex-direction: row;
    padding: 0;

    .card__top {
      max-width: 33.33%;
      flex: 0 0 33.33%;
      margin-bottom: 0;
    }

    .card__meta {
      .card__copy {
        display: none;
      }
    }

    .card__img-wrap {
      margin-bottom: 0;
      height: 100%;
      padding: 10px;
      border-right: 1px solid #e6e6e6;
    }

    .card__img {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;

      @media (min-width: @xl + 1) {
        width: 290px;
      }
    }

    .card__title {
      margin-bottom: 16px;
    }

    .card__country {
      margin-bottom: 24px;
      margin-top: 0;
    }

    .card__desc {
      margin-bottom: 12px;
    }

    .card__bottom {
      margin-top: auto;

      @media (max-width: @md) {
        margin-top: 20px;
      }
    }

    .card__fb {
      margin-top: 0;
      border: none;
      padding: 0;
      flex-wrap: wrap;
    }

    .card__rev-link {
      margin-left: 0;
      margin-top: 8px;
    }

    .card__price-wrap {
      flex-wrap: wrap;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 24px;

      @media (max-width: @xl) {
        margin-top: 0;
        margin-bottom: 15px;
      }

      @media (max-width: @md) {
        justify-content: flex-end;
        flex-direction: row-reverse;

        &>*+* {
          margin-right: 10px;
        }
      }
    }

    .card__btn {
      margin-right: 0;
      min-width: auto;
      margin-bottom: 10px;
    }

    .price-old {
      margin-bottom: 4px;
    }

    .price {
      font-size: 21px;
    }

    .range__btn svg {
      @media (max-width: @xl) {
        width: 16px;
      }
    }

    .card__btn svg {
      @media (min-width: @md) and (max-width: @xl) {
        display: none;
      }
    }
  }

  .card__body-hor {
    flex-grow: 1;
  }

  .card-hor__block {
    padding: 15px;
    flex-grow: 1;

    &.vert {
      display: flex;
      flex-direction: column;
    }


    &:last-of-type {
      @media (min-width: @md + 1) {
        padding-left: 0;
        padding-right: 12px;
        min-width: 140px;
      }
    }

    &:not(:first-of-type) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}




// CARD MINIFY
.card-minify-wrap {
  padding: 0 6px;
}

.card-minify-row {
  margin-left: -6px;
  margin-right: -6px;
}

.card-minify {
  font-size: 12px;
  padding: 5px;

  @media (min-width: @md) {
    display: none;
  }

  .card__btn {
    min-width: 85px;
    font-size: 12px;
    padding: 7px 15px;
  }

  .card__title {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .card__price-wrap {
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 4px;

    &>* {
      margin: 2px;
    }
  }

  .card__bottom {
    margin-top: 4px;
  }

  .card__img {
    img {
      height: 140px;
      border-radius: 8px;
    }
  }
}

.card__fb-mini {
  display: flex;
  align-items: center;
  margin-top: auto;

  .card__rev-link {
    font-size: 12px;
    margin-left: 0;
    color: @color-gray;
  }
}

.card__btn-top {
  position: absolute;
  top: 0;
  right: 0;
}
