.content-page__bc {
  padding: 25px 0 15px;
}

.content-page__section {
  padding: 32px 0;
}

.content-page__bc + .content-page__section {
  padding-top: 0;
}

.content-page__title {
  max-width: 850px;
}

