.content-page__bc {
  padding: 25px 0 15px;
}

.content-page__section {
  padding: 32px 0;
}

.content-page__bc+.content-page__section {
  padding-top: 0;
}

.content-page__title {
  max-width: 850px;
}

.content-page__btns {

  @media (min-width: @md + 1) {
    margin-left: -8px;
    margin-right: -8px;

    &>* {
      margin: 8px;
    }
  }
}

.content-page__top {
  margin-bottom: 32px;

  @media (max-width: @md) {
    margin-bottom: 24px;
  }
}
