.content-page__bc {
  padding: 25px 0 15px;
}



.content-page__title {
  max-width: 850px;
}

.content-page__btns {
  @media (min-width: @md + 1) {
    margin-left: -8px;
    margin-right: -8px;

    &>* {
      margin: 8px;
    }
  }
}

.content-page__top {
  margin-bottom: 32px;

  @media (max-width: @md) {
    margin-bottom: 24px;
  }
}

.content-page__banner {
  img {
    width: 100%;
  }

  &.bn-bg {
    overflow: hidden;

    img {
      max-height: 400px;

      @media (max-width: @lg) {
        max-height: 300px;
      }

      @media (max-width: @md) {
        max-height: 200px;
      }
    }
  }
}

.content-page__page-nav {
  @media (max-width: @md) {
    display: none;
  }
}

.content-page__btn-back {
  margin-bottom: 24px;
}


.content-page__slider {
  margin: 20px 0 24px;
}


.content-page__slider {
  .owl-nav button.disabled {
    display: none;
  }

  @media (max-width: @md) {
    .slide {
      padding: 0 5px;
    }

    .owl-nav button.owl-prev {
      left: -7px !important;
    }

    .owl-nav button.owl-next {
      right: -7px !important;
    }
  }
}

.content-page__top-desc,
.content-page__bottom-desc {
  font-size: 14px;
}


.content-page__bottom-desc.less {
  .shown-text {
    max-height: 350px;
  }
}

.content-page__prod-row {
  margin-top: 32px;

  @media (max-width: @md) {
    margin-top: 24px;
  }
}
