.form__item {
  input:not([type="checkbox"]),
  select,
  textarea {
    width: 100%;
  }

  .add {
    margin-top: 10px;
    font-size: 14px;

    p {
      margin: 0;
    }

    p + p {
      margin-top: 4px;
    }
  }
}

.form__label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
  color: @color-black;
}
