.header {
  position: relative;
  z-index: 100;
  background-color: @color-white;
}

.header__banner {
  padding: 10px 0;

  .banner {
    display: block;
    max-height: 80px;
  }
}

.header__top {
  padding: 8px 0;
  background-color: @color-light-gray2;
  border-bottom: 1px solid @color-light-gray1;

  .container {
    position: relative;
  }

  @media (max-width: @md) {
    padding: 0;
    border: none;
  }
}

.header__menu {
  display: none;
}

.header__center {
  padding: 20px 0;
}

.header__logo {
  width: 244px;

  @media (max-width: @lg) {
    width: 200px;
  }

  @media (max-width: @md) {
    width: 180px;
  }
}

.header__list {
  .list-style();
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  >* {
    flex-shrink: 0;
  }
}

.header__contacts {
  display: flex;
  align-items: center;

  @media (max-width: @md) {
    width: 100%;
  }
}

.header__search {
  width: 450px;

  @media (max-width: @xl) {
    width: 235px;
  }

  @media (max-width: @md) {
    display: none;
  }
}

.header__tel {
  &+* {
    margin: 0;
    margin-top: 4px;
    font-size: 13px;
    color: @color-gray;
  }
}

.header__btn {
  margin-left: 15px;

  @media (min-width: @md + 1) and (max-width: @lg) {
    display: none;
  }

  @media (max-width: @md) {
    margin-left: auto;
  }
}

.header__nav-wrap {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.header__nav {
  .list-style();
  display: flex;
}

.header__nav-item {
  position: relative;
  display: flex;
  align-items: center;

  &>*:not(.header__nav-link):not(.header__nav-btn) {
    margin: 0 20px;
  }

  &>.header__nav-link,
  &>.header__nav-btn {
    &::before {
      .trans-linear();
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      opacity: 0;
      background-color: @color-blue;
    }
  }

  &>*:hover,
  &>*:focus {
    &::before {
      opacity: 1;
    }
  }
}

.header__nav-item+.header__nav-item {
  &::after {
    position: absolute;
    content: "";
    height: 24px;
    width: 1px;
    background-color: #dedede;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .header__nav-link {
    padding-left: 20px;
  }
}

.header__nav-link {
  .link-default();
  .link-black-blue();
  padding: 16px 20px 16px 20px;
}



.header__nav-btn {
  .btn-default();
  display: flex;
  align-items: center;
  padding: 16px 20px 16px 0;
  font-size: 14px;
  height: 100%;

  &>*+* {
    margin-left: 8px;
  }

  &:hover,
  &:focus,
  &.active {
    color: @color-blue;
    outline: none;

    &::before {
      opacity: 1;
    }

    .btn-burger {
      span {
        background-color: @color-blue;
      }
    }
  }
}

.header__open-btn {
  .btn-default();
  display: flex;
  align-items: center;
  color: @color-blue;
  font-size: 14px;
  padding: 5px;

  svg {
    width: 24px;
    height: 24px;
    fill: @color-blue;

    &+* {
      margin-left: 10px;
    }
  }
}

.header__menu-btn {
  .btn-default();
  height: 100%;
  display: flex;
  align-items: center;

  @media (max-width: @sm) {
    max-width: 80px;
  }
}

.header__mobile {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.header__nav,
.header__catalog,
.header__mobile-menu,
.header__mobile {
  display: none;
}

.header__catalog,
.header__mobile-menu {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 101;
}

.header__catalog {
  top: calc(100%);
  background: linear-gradient(90deg, #f7f7f7 50%, #fff 0);
}

.header__mobile-menu {
  top: 0;
  background-color: @color-white;
}

.header__catalog.active,
.header__mobile-menu.active {
  display: block;
}


.header__bottom {
  .container {
    position: relative;
  }
}


@media (min-width: @md + 1) {
  .header__bottom {
    background-color: aliceblue;
    border-top: 1px solid @color-light-gray1;
    border-bottom: 1px solid @color-light-gray1;
  }
}

@media (min-width: @xl + 1) {
  .header__open-btn {
    display: none;
  }
}

@media (max-width: @md) {
  .header__mobile {
    display: inline-flex;
    justify-content: space-around;
    flex-grow: 1;

    &>*+* {
      margin-left: 10px;
    }
  }

  .header__nav-wrap {
    width: auto;
    margin-right: 15px;
  }

  .header {
    box-shadow: 0px 2px 7.36px 0.64px rgba(0, 0, 0, 0.1);
  }
}
