input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input {
  .trans-linear();
  .border-radius();
  border: 1px solid @color-light-gray1;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 13px 10px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #9cacb2;
  }
}

input[type="checkbox"] {
  background-color: @color-white;
  border: 1px solid @color-black;
  box-sizing: border-box;
  border-radius: 2px;

  & + label {
    margin-left: 5px;
  }
}

.checkbox-line {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: @color-white;
  background: @color-orange;
  border-radius: 6px;

  input {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }
}
