input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input,
select,
textarea {
  .trans-linear();
  .border-radius();
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px solid @color-light-gray1;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 13px 10px;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #9cacb2;
  }
}

input[type="checkbox"] {
  background-color: @color-white;
  border: 1px solid @color-black;
  box-sizing: border-box;
  border-radius: 2px;

  &+label {
    margin-left: 5px;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 12px;
    height: 12px;
    z-index: 0;
    background: url(../img/assets/icon-select-arrow.svg);
  }

  select {
    padding-right: 30px;
  }
}

textarea {
  max-width: 100%;
  min-width: 100%;
}

.checkbox-line {
  display: flex;

  input {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }
}

.checkbox-line-or {
  align-items: center;
  justify-content: center;
  padding: 12px;
  color: @color-white;
  background: @color-orange;
  border-radius: 6px;
}

.checkbox-round {
  input[type="checkbox"] {
    display: none;

    &+label {
      margin-left: 0;
    }
  }

  label {
    display: flex;
    cursor: pointer;

    &::before {
      .trans-linear();
      content: "";
      width: 16px;
      height: 16px;
      border: 1px solid #adadad;
      border-radius: 50%;
      flex-shrink: 0;
      margin-right: 10px;
    }
  }

  input[type="checkbox"]:checked+label {
    &::before {
      background-color: @color-blue;
      background-image: url(../img/assets/icon-check-white.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      border-color: @color-blue;
    }
  }
}
