.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px 0;
  overflow-y: auto;

  @media (max-width: @sm) {
    padding: 20px 0;

    .mb-s {
      margin-bottom: 16px;
    }

    .step-row {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  .install-table {
    max-width: 355px;

    @media (max-width: @md) {
      max-width: none;
    }
  }

  .install__info {
    @media (max-width: @md) {
      &:first-of-type {
        margin-top: 32px;
      }
    }

    @media (max-width: @sm) {
      &:first-of-type {
        margin-top: 16px;
      }
    }
  }

  .step-row__list:first-of-type {
    margin-top: 48px;

    @media (max-width: @md) {
      margin-top: 24px;
    }
  }

  .club-offer {
    padding: 17px 47px 35px;

    @media (max-width: @md) {
      padding: 16px;
    }
  }
}

.modal-sm {
  .modal__wrapper {
    max-width: 440px;
  }
}

.modal.active {
  .trans-linear();
  z-index: 1999;
  opacity: 1;
  visibility: visible;
}

.modal__wrapper {
  position: relative;
  border-radius: 6px;
  width: 95%;
  max-width: 760px;
  overflow: hidden;
  margin: auto;
  background-color: @color-white;

  &.w-auto {
    width: auto;
    max-width: min-content;
  }
}

.modal__container {
  padding: 48px 53px 43px;
  @media (max-width: @sm) {
    padding: 15px;
  }
}

.modal__close {
  .btn-default();
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background: @color-white url(../img/assets/icon-cancel.svg) no-repeat center;
  background-color: @color-blue;
  border-radius: 0px 6px;
}

.modal__title {
  font-size: 21px;
  line-height: 25px;
  margin: 0;

  & + * {
    margin-top: 16px;
  }

  @media (max-width: @sm) {
    font-size: 18px;
    line-height: 21px;
    padding-right: 20px;
  }
}

.modal__desc {
  font-size: 18px;
  line-height: 1.4;

  @media (max-width: @sm) {
    font-size: 14px;
  }
}

.modal__search {
  margin-top: 24px;
  @media (max-width: @sm) {
    margin-top: 12px;
  }
}

.modal__scroll {
  max-height: 480px;
}

.modal__content {
  margin-top: 24px;

  @media (max-width: @sm) {
    font-size: 12px;
    line-height: 1.4;
    margin-top: 12px;
  }
}

.modal__bottom {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid #e6e6e6;

  @media (max-width: @sm) {
    margin-top: 12px;
    padding-top: 12px;
  }
}

.modal__img-block {
  margin-top: 32px;

  img + img {
    margin-left: 8px;
  }

  img {
    margin: 8px;
  }

  img:first-of-type {
    margin-left: 0;
  }

  img:last-of-type {
    margin-right: 0;
  }

  @media (max-width: @sm) {
    margin-top: 16px;
  }
}

.modal__col {
  margin-bottom: 24px;
}

.modal__item + .modal__item {
  margin-top: 32px;

  @media (max-width: @sm) {
    margin-top: 16px;
  }
}

.modal__item {
  & > * {
    margin: 0;
  }

  & > * + * {
    margin-top: 4px;
  }
}

.modal__tabs {
  color: @color-gray;

  svg {
    fill: @color-gray;
    margin-bottom: 3px;
  }

  .tabs-toggle {
    padding: 0;

    & > * {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    button {
      border-color: @color-light-gray1;
      padding: 24px 12px 16px;

      &:focus {
        svg {
          fill: @color-blue;
        }
      }

      @media (max-width: @sm) {
        padding-top: 47px;
      }
    }

    @media (max-width: @sm) {
      flex-shrink: 0;
      min-width: 90px;
    }
  }

  .tabs-toggle.active {
    svg {
      fill: @color-blue;
    }
  }

  .tabs-toggle + .tabs-toggle {
    margin: 0;
  }

  @media (max-width: @sm) {
    overflow-y: auto;
    padding-bottom: 10px;
  }
}

.modal__tabs-content {
  padding: 0;
}

.modal__tabs-container {
  padding: 24px 35px 47px;

  @media (max-width: @md) {
    padding: 24px;
    padding-left: 16px;
  }
}

.modal__form {
  & > * {
    width: 100%;
  }
  & > * + * {
    margin-top: 24px;
  }

  button {
    min-height: 44px;
  }
}

.modal-top {
  display: none;
  .modal__close {
    border-radius: 0;
  }
}

.modal-top.active {
  display: block;
}

.modal__search-res {
  display: none;
  position: absolute;
  top: 47px;
  padding: 15px;
  max-height: 300px;
  overflow-y: auto;
  background-color: @color-white;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  width: 100%;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &.active {
    display: block;
  }
}

.modal__search-item {
  padding: 8px;
  font-weight: 500;
}
