.price {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: @color-black;
}

.price--orange {
  color: @color-orange;
}

.price-old {
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: line-through;
  color: @color-gray;
}

.price-ben {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-align: center;
}

.price-club {
  display: flex;
  align-items: center;

  svg {
    margin-right: 7px;
    fill: @color-orange;
  }
}

.price-club__btn {
  font-size: 18px;
  line-height: 1.4;
}
