.promo {
  .border-radius();
  padding: 16px 30px;

  background: @color-light-yellow;
  color: @color-black;

  & > * {
    margin-bottom: 4px;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

.promo__text {
  font-size: 16px;
  line-height: 19px;
}

.promo__code {
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  margin-top: 8px;
}

.promo__price {
  font-size: 36px;
  line-height: 42px;
}

@media (min-width: @md + 1) and (max-width: @lg) {
  .promo__price {
    font-size: 30px;
    line-height: 36px;
  }

  .promo__text {
    font-size: 14px;
    line-height: 18px;
  }
}
