.tabs-wrap {
  background-color: @color-light-gray2;
}

.tabs,
.tabs-collapse {
  .list-style();
  display: flex;
  align-items: center;
}


.tabs-content,
.tabs-collapse__content {
  position: relative;
}


.tabs-toggle {
  .trans-linear();

  button {
    .btn-default();
    font-size: 14px;
    line-height: 16px;
  }
}

.tabs {
  overflow-y: hidden;

  .tabs-toggle {
    flex-shrink: 0;

    &:first-of-type {
      button {
        padding-left: 0;
      }
    }

    button {
      padding: 24px 0 22px;
      font-weight: 500;
      border-bottom: 2px solid transparent;
      outline: none;

      &:focus {
        color: @color-blue;
      }
    }
  }

  .tabs-toggle.active {
    button {
      border-color: @color-blue;
      color: @color-blue;
    }
  }

  .tabs-toggle + .tabs-toggle {
    margin-left: 32px;
  }
}


.tabs-content {
  padding: 48px 0;
}


.tabs-collapse {
  flex-wrap: wrap;
  .tabs-toggle {
    button {
      padding: 10px 12px;
      border: 1px solid @color-orange;
      color: @color-orange;
      border-radius: 3px;
    }
  }

  .tabs-toggle.active {
    button {
      color: @color-white;
      background-color: @color-orange;
    }
  }

  .tabs-toggle {
    margin: 6px;
  }

  @media (max-width: @md) {
    display: flex;
    flex-direction: column;

    border: 1px solid @color-orange;
    border-radius: 3px;

    .tabs-toggle {
      margin: 0;
      width: 100%;

      button {
        display: none;
        width: 100%;
        padding-left: 32px;
        border: none;
        text-align: left;
        margin: 0;
        border-radius: 0;

        &::after {
          .trans-linear();
          display: none;
          position: absolute;
          top: 50%;
          transform: translateY(-50%) rotate(135deg);
          right: 12px;

          content: "";
          width: 9px;
          height: 9px;
          border-top: 2px solid @color-white;
          border-right: 2px solid @color-white;
        }
      }
    }

    .tabs-toggle.active {
      order: -1;
      button {
        display: block;
        color: @color-white;
        background-color: @color-orange;

        &::after {
          display: block;
        }
      }
    }

    &.opened {
      .tabs-toggle {
        button {
          display: block;
        }

        &:first-of-type {
          button {
            display: block;
            &::after {
              transform: translateY(-50%) rotate(-45deg);
            }
          }
        }
      }

      .tabs-toggle.active {
        button {
          display: block;
          &::after {
            transform: translateY(-50%) rotate(-45deg);
          }
        }
      }
    }
  }
}

.tabs-collapse__content {
  padding: 24px 0;
}



.tabs-item {
  .trans-linear();
  height: 0px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.tabs-item.active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
