.trans-linear() {
  transition: 0.3s;
}

.list-style() {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link-default() {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.link-underline() {
  text-decoration: underline;
  text-decoration-color: inherit;

  &:hover,
  &:focus {
    text-decoration-color: transparent;
  }
}

.link-underline-on-hover() {
  text-decoration: underline;
  text-decoration-color: transparent;

  &:hover,
  &:focus {
    text-decoration-color: inherit;
  }
}


.link-dashed() {
  text-decoration: underline;
  text-decoration-style: dashed;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.link-black() {
  color: @color-black;
  &:hover,
  &:focus {
    color: @color-light-black;
  }
}

.link-black-blue() {
  color: @color-black;
  &:hover,
  &:focus {
    color: @color-blue;
  }
}


.disabled() {
  opacity: 0.7;
  pointer-events: none;
}

.border-radius() {
  border-radius: 4px;
}
