// COLORS
@color-white: #ffffff;
@color-black: #1d1d1f;
@color-blue: #142F4F;
@color-light-blue: #5AA5DC;
@color-gray: #6D6F73;
@color-light-gray: rgba(255, 255, 255, 0.8);


// WIDTHS
@sm: 576px - 1px;
@md: 768px - 1px;
@lg: 992px - 1px;
@xl: 1200px - 1px;
@xxl: 1440px - 1px;

// FONTS
@media screen {
  html {
    font-size: 16px;
  }
}
@media (max-width: @sm) {
  html {
    font-size: 14px;
  }
}

// ACTIVE
a:active,
button:active {
  opacity: 0.8;
}
