// WIDTHS
@sm: 576px - 1px;
@md: 768px - 1px;
@lg: 992px - 1px;
@xl: 1200px - 1px;

// COLORS
@color-white: #fff;
@color-black: #000;
@color-light-black: #333;
@color-gray: #7C7C7C;
@color-light-gray1: #DEDEDE;
@color-light-gray2: #F7F7F7;
@color-blue: #00A6DF;
@color-beige: rgba(244, 236, 223, 0.25);
@color-orange: #ED6B33;

@color-yellow: #FFD248;
@color-light-yellow: rgba(255, 210, 72, 0.2);
@color-yellow2: #FBFF2D;
@color-red: #991121;
@color-green: #3ECA54;
@color-dark-green: #006400;

// ACTIVE
a:active,
button:active {
  opacity: 0.8;
}

// PADDINGS
.mb-xs {
  margin-bottom: 12px;
}

.mb-s {
  margin-bottom: 32px;

  @media (max-width: @md) {
    margin-bottom: 24px;
  }
}

.mt-m {
  margin-top: 40px;
}

.mt-auto {
  margin-top: auto;
}
